#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PKG_GPSBABEL=gpsbabel
PKG_GPSBABEL_GUI=gpsbabel-gui
VERSION := $(shell dpkg-parsechangelog | awk '/^Version/ {print $$2}')

#we use quilt to handle our patches
include /usr/share/quilt/quilt.make


CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif
LDFLAGS +=  -Wl,-z,defs
CONFENV = LDFLAGS="$(LDFLAGS)" CFLAGS="$(CFLAGS)"


configure: configure-stamp gui/Makefile
configure-stamp: $(QUILT_STAMPFN)
	dh_testdir
ifneq "$(wildcard /usr/share/misc/config.sub)" ""
	cp -f /usr/share/misc/config.sub config.sub
endif
ifneq "$(wildcard /usr/share/misc/config.guess)" ""
	cp -f /usr/share/misc/config.guess config.guess
endif
	$(CONFENV) ./configure --with-zlib=system --with-doc=debian/doctmp \
		--prefix=/usr

	touch $@

debian/gpsbabel.1: build-stamp
	export PATH="$(CURDIR):$$PATH" ;\
	help2man 	--manual='gpsbabel documentation' \
			--section=1 \
			--name='GPS route and waypoint data converter' \
			--source='http://www.gpsbabel.org' \
			--locale=C \
			-N \
			--version-string=$(VERSION) \
			--opt-include=$(CURDIR)/debian/gpsbabel.help2man \
			-o $@ \
			gpsbabel

gui/Makefile: $(QUILT_STAMPFN)
	cd gui && qmake-qt4

build: build-stamp build-gui-stamp build-doc-stamp debian/gpsbabel.1

build-stamp: configure-stamp 
	dh_testdir

	# Add here commands to compile the package.
	$(MAKE)
	chmod u+x testo
	$(MAKE) check 

	touch $@

build-doc-stamp: configure-stamp
	$(MAKE) doc
	touch $@

build-gui: build-gui-stamp
build-gui-stamp: gui/Makefile
	$(MAKE) -C gui
	touch $@

clean: clean-patched unpatch
clean-patched:
	dh_testdir
	dh_testroot
	rm -f *-stamp dep doc/*.ps

	# Add here commands to clean up after the build process.
	[ ! -f Makefile ] || $(MAKE) clean
	[ ! -f gui/Makefile ] || $(MAKE) -C gui clean
	rm -rf debian/doctmp xmldoc/autogen/*
	rm -rf Makefile config.h config.log config.status debian/*.inc \
		gpsbabel.fo tools/mkcapabilities win32/gpsbabel.rc \
		xmldoc/makedoc \
		zlib/empty jeeps/Makefile shapelib/Makefile
	rm -f config.guess config.sub
	rm -rf gui/Makefile gui/objects gui/setup.iss
	rm -f debian/gpsbabel.1
	rm -f gpsbabel.pdf
	rm -f gui/makelinuxdist.sh
	rm -f   xmldoc/formats/tomtom_itn_places.xml \
		xmldoc/formats/options/naviguide-reorder.xml \
		xmldoc/formats/options/naviguide-output.xml \
		xmldoc/filters/options/track-trk2seg.xml \
		xmldoc/filters/options/track-seg2trk.xml
	rm -f gbversion.h
	dh_clean 

install: build-stamp build-gui-stamp
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs 

	# Add here commands to install the package into debian/gpsbabel.
	$(MAKE) install DESTDIR=$(CURDIR)/debian/gpsbabel

	# Rename htmldoc dir and remove pdf file
	mv `ls -d $(CURDIR)/debian/doctmp/htmldoc-*` $(CURDIR)/debian/doctmp/htmldoc
	rm -f $(CURDIR)/debian/doctmp/htmldoc/*.pdf

	dh_install


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_installman 
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure 
